<%= simple_form_for(@workshop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :venue %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.input :venue_map_link %>
    <%= f.input :description %>
    <%= f.input :starts_on, as: :string, input_html: { type: :date } %>
    <%= f.input :ends_on, as: :string, input_html: { type: :date } %>
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.input :seats %>
    <%= f.input :ticket_price %>
    <%= f.input :order_number %>
    <%= f.input :exam_id %>
    <%= f.input :seo_meta_keywords %> 
    <!--, multiple: true, as: :array, input_html: { class: 'string required form-control'} %> -->
    <%= f.input :seo_meta_description %>
    <%= f.association :certification %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
