<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @certification.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certification.description %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @certification.terms %>
</p>

<p>
  <strong>Seo meta keywords:</strong>
  <%= @certification.seo_meta_keywords %>
</p>

<p>
  <strong>Seo meta description:</strong>
  <%= @certification.seo_meta_description %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
