<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_post.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job_post.location %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @job_post.experience %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_post.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job_post.skills %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job_post.active %>
</p>

<%= link_to 'Edit', edit_job_post_path(@job_post) %> |
<%= link_to 'Back', job_posts_path %>
