<%= simple_form_for(@discount) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :registration_quantity %>
    <%= f.input :discount_value %>
    <%= f.input :discount_percentage %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
