<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @discount.number %>
</p>

<p>
  <strong>Valid till:</strong>
  <%= @discount.valid_till %>
</p>

<p>
  <strong>Active:</strong>
  <%= @discount.active %>
</p>

<p>
  <strong>Workshop:</strong>
  <%= @discount.workshop %>
</p>

<p>
  <strong>Coupon:</strong>
  <%= @discount.coupon %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
